.container{
    background-color: rgb(223, 221, 222);
}
/* @font-face {
    font-family: 'harry_pregular';
    src: url('harryp__-webfont.woff2') format('woff2');
         url('harryp__-webfont.woff') format('woff');
         url('harryp__-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

} */
#heading {
    border-bottom: 2px solid rgb(136, 107, 136);
    padding-bottom: 5px;
}
#font{
    font-family: 'harry_pregular', Georgia, 'Times New Roman', Times, serif;
    font-size: 72px;
}
